body {
  background-image: linear-gradient(to right bottom, #214261, #413e69, #633662, #7d2d4e, #882e30);
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

a:hover {
  text-decoration: none;
}

/* Utilities */
.sub-h3 {
  color: white;
}


.hover-pointer {
  cursor: pointer;
}

.separador {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}



/* Bootstrap styles */
@media (min-width: 1200px) {
  .container {
    max-width: 998px;
  }
}

.dropdown-menu {
  border: none;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  text-decoration: none;
}

.jumbotron {
  padding-top: 2rem;
}

.card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.card:hover {
  cursor: pointer;
  z-index: 99;
}


/* components/Header */
.logo {
  color: var(--dark);
  font-size: 1.5rem;
}


.cart-icon {
  color: rgba(255, 255, 255, .6);
  padding: .25rem .75rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: .4rem;
  font-size: 1.8rem;
  list-style: none;
}

.cart-icon:hover {
  cursor: pointer;
  color: white
}

.cart-icon:focus {
  color: white;
}


@media (min-width: 768px) {
  .cart-icon {
    position: fixed;
    top: 0.5rem;
    right: 5.5rem;
  }
}

@media (min-width: 1199px) {
  .cart-icon {
    right: 15rem;
  }
}


/* Layout Content */
.content {
  margin-top: 5rem;
  min-height: calc(100vh - 11rem);
}

/* components/Footer */
.footer {
  min-height: 5rem;
  background-color: var(--dark);
  color: white;
  text-align: center;
  margin-top: 2rem;
}

/* components /GoogleSignIn */
.btn-google {
  margin-top: 2rem;
  border: 1px solid #888888;
  align-items: center;
  max-width: 250px;
}

.btn-google p {
  color: #888888;
  margin: 0;
}




/* Admin */

/* Admin Header */
.menu-side {
  position: fixed;
  top: 50px;
  left: 0;
  background-color: var(--primary);
  min-width: 25%;
  height: calc(100vh);
}

/* Admin Home */
.panel-control {
  min-height: 4rem;
  text-align: center;
  padding: 2rem;
  font-size: 1.6rem;
  border: 1px solid var(--secondary);
  border-left: 2px solid var(--secondary);
  border-right: 2px solid var(--secondary);
  background-color: var(--primary);
  color: var(--light)
}



.panel-control:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
  color: var(--dark);
}

/* Admin login */

.reg:hover {
  cursor: pointer;
  color: var(--primary);
}

/* Admin Banner */
.banner-add {
  height: 150px;
  border: 1px solid var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-size: 5rem;

}

.banner-add:hover {
  color: var(--secondary);
}

/* Admin Footer */
.footer-admin {
  background-color: var(--secondary);
  color: var(--light);
}